body { padding:20px; margin: 0; } 
body * { box-sizing: border-box; } 


input[type='text'] { height: 40px;padding:0 10px; } 
.btn { height: 40px; } 


/*Home.jsx*/
.HomeForm{display: flex;margin-bottom: 20px;}
.todoUl { margin-top: 20px; width: 500px; border-top:1px solid #191919; } 
.todoUl a:hover { font-weight: 700;color:#0000fa } 
.todoUl li { padding: 10px; border-bottom:1px solid #191919;} 
.todoUl li:hover { background:#eee; } 