body {
  padding:20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='text']{padding:10px 0;}
/*Home.jsx*/
.todoUl{margin-top: 20px;width: 500px;border-top:1px solid #191919;}
.todoUl a:hover{font-weight: 700;}
.todoUl li{padding: 10px 0;border-bottom:1px solid #191919;}
.todoUl li:hover{background:#eee;}